<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <h4>Sender : <%=chat.sender%></h4>
    <h4>Reciver : <%=chat.receiver%></h4>
    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea rows="5" cols="15" name="message"><%= chat.message %></textarea>
        <button type="submit">Edit Chat</button>
    </form>
</body>
</html>